
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

@font-face{
    font-family: 'jetBrainsMono';
    src: url('password-generator-app/starter-code/assets/fonts/static/JetBrainsMono-Bold.ttf') format('truetype');
}

:root{
   --red: #F64A4A;
   --orange: #FB7C58;
   --yelow: #F8CD65;
   --Neon-green: #A4FFAF;
   --Almost-White: #E6E5EA;
   --Grey:#817D92;
   --Dark-Grey: #24232C;
   --Very-Dark-Grey: #18171F;
}

main{
    width: 100vw;
    height: 100vh;
    font-family: 'jetBrainsMono', serif;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-Dark-Grey);
    color: var(--Almost-White);
}

body{
    height: 100%;
}


h1{
    text-align: center;
    color: var(--Grey);
    font-size: 1rem;
}

#generator-container{
    margin: 1.5rem 1rem;
    width: 85%;
    height: auto;
}

#generated-password{
    margin: 1.5rem 0;
    background-color: var(--Dark-Grey);
    padding: 1rem 1.2rem;
    color: var(--Grey);
    display: flex;
    justify-content: space-between;
}

#copy{
    cursor: pointer;
}



/*Strength Section*/

#strength-setting{
    background-color: var(--Dark-Grey);
    padding: 1rem;
}

#strength-setting > p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#password-length{
    color: var(--Neon-green);
    font-size: 1.2rem;
}


/* Custom range slider*/

.slider-container{
    position: relative;
    width: 100%;
    height: 20px;
    margin-bottom: 2rem;
    z-index: 1;
}

.slider-track{
    background: var(--Very-Dark-Grey);
    width: 100%;
    position: absolute;
    height: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.slider-fill{
    width: 50%;
    background: var(--Neon-green);
    position: absolute;
    height: 100%;
}

.slider-thumb{
    position: absolute;
    background-color: var(--Almost-White);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 0 solid var(--Almost-White);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
    left: 50%;
}

.slider-thumb:hover{
    background-color: var(--Very-Dark-Grey);
    border: 2px solid var(--Neon-green);
    box-sizing: border-box;
}


ul li{
    margin-bottom: 1rem;
   display: flex;

}


.checkbox{
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin-right: 10px;
    background-color: transparent;
    border: 2px solid var(--Almost-White);
    cursor: pointer;
}

.checked{
    display: none;
}

.show-display{
    display: block;
}


.checkbox-when-click{
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin-right: 10px;
    background-color: var(--Neon-green);
    border: 0 solid var(--Neon-green);
    cursor: pointer;
}

/*--strength--*/

#strength > p{
    color: var(--Grey);
}

#strength{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Very-Dark-Grey);
    padding: 1rem 1.5rem;
}

.the-bars{
    display: flex;
}

.bars{
    height: 28px;
    width: 10px;
    margin-right: 0.3rem;
    border: 1px solid var(--Almost-White);
}

#generate{
    width: 100%;
    padding: 1.4rem 0;
    margin-top: 1rem;
    border: 0 solid var(--Neon-green);
    background-color: var(--Neon-green);
    font-weight: 700;
    color: var(--Very-Dark-Grey);
}

#generate:hover{
    background-color: var(--Very-Dark-Grey);
    border: 1px solid var(--Neon-green);
    color: var(--Neon-green);
}

/* #right-arrow path:hover{
    fill: var(--Neon-green);
} */
#generate #right-arrow{
    margin-left: 3rem;
}


@media(min-width: 767px){
    #generator-container{
        width: 40%;
        margin: 0;
    }

    #strength-setting{
        padding: 1.5rem;
    }

    .checkbox{
        width: 16px;
        height: 16px;
    }
} 